.block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.company_compo {
    width: 300px;
    height: 300px;
}

.company {
    width: 500px;
    height: 500px;
}

.label_fixed {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: solid 3px #395c98;
    position: relative;
    top: 190px;
    left: 200px;
}

.label_compo1 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 30px;
    left: 100px;
}

.label_compo2 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 100px;
}

.label_compo3 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 160px;
    left: 40px;
}

.line1 {
    position: relative;
    top: -35px;
    left: 160px;
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    /*border:1px solid #333;*/
    background: linear-gradient(60deg, transparent 49.5%, #449dfa 49.5%, #449dfa 50.5%, transparent 50.5%);
}

.line2 {
    position: relative;
    left: 140px;
    top: -60px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: linear-gradient(20deg, transparent 49.5%, #449dfa 49.5%, #449dfa 50.5%, transparent 50.5%);
}

.line3 {
    position: relative;
    left: 180px;
    top: -70px;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    background: linear-gradient(140deg, transparent 49.5%, #449dfa 49.5%, #449dfa 50.5%, transparent 50.5%);
}

.line4 {
    position: relative;
    left: 280px;
    top: -180px;
    width: 95px;
    height: 95px;
    box-sizing: border-box;
    background: linear-gradient(20deg, transparent 49.5%, #fac66c 49.5%, #fac66c 50.5%, transparent 50.5%);
}

.company_name{
    width: 120px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: solid 3px #395c98;
    position: relative;
    top: 240px;
    left: 80px;
}

.label1 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 40px;
    left: 40px;
}

.label2 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 40px;
    left: 300px;
}

.label3 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 160px;
    left: 300px;
}

.label4 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 260px;
    left: 260px;
}

.label5 {
    width: 140px;
    height: 30px;
    text-align: center;
    border: solid 2px #8d8d8d;
    border-radius: 8px;
    position: relative;
    top: 280px;
    left: 40px;
}

.m_line1 {
    position: relative;
    left: 60px;
    top: -90px;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    background: linear-gradient(80deg, transparent 49.5%, #fa4661 49.5%, #fa4661 50.5%, transparent 50.5%);
}

.m_line2 {
    position: relative;
    left: 200px;
    top: -190px;
    width: 110px;
    height: 110px;
    box-sizing: border-box;
    background: linear-gradient(135deg, transparent 49.5%, #fa4661 49.5%, #fa4661 50.5%, transparent 50.5%);
}

.m_line3 {
    position: relative;
    left: 200px;
    top: -220px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background: linear-gradient(10deg, transparent 49.5%, #fa4661 49.5%, #fa4661 50.5%, transparent 50.5%);
}

.m_line4 {
    position: relative;
    left: 140px;
    top: -270px;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    background: linear-gradient(50deg, transparent 49.5%, #fa4661 49.5%, #fa4661 50.5%, transparent 50.5%);
}

.m_line5 {
    position: relative;
    left: 30px;
    top: -400px;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    background: linear-gradient(100deg, transparent 49.5%, #fa4661 49.5%, #fa4661 50.5%, transparent 50.5%);
}
