<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业数据的无监督分类系统</title>
    <link rel="stylesheet" href="{% static '../static/css/index.css' %}">
    <script src="{% static '../static/js/index.js' %}"></script>
</head>

<body>
<div style="display: flex;flex-direction: column;align-items: center;">
    <h1 style="color: #42474f">企业数据的无监督分类系统</h1>
    <br>
    <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
        <p class="name_search" id="search_mode1" onclick="searchModeChange(this.id)">名称检索分类</p>
        <p class="condition_search" id="search_mode2" onclick="searchModeChange(this.id)">条件检索分类</p>
    </div>
    <br>

    <div id="default_form_block">
        <form class="default_form" action="/namesubmit" method="post">
            {% csrf_token %}
            <input type="text" name="company_name" class="input_name" placeholder="输入搜索">
            <input type="submit" class="input_submit" value="提交">
        </form>
    </div>
    <div>{{ result }}</div>

    <div id="condition_form_block" style="display: none;">
        <form class="condition_form" action="/conditionsubmit" method="post">
            {% csrf_token %}
            <div style="display: flex;flex-direction: row;height: 30px;align-items: center;margin-bottom: 15px;">
                <p style="margin-right: 10px;font-weight: bold">公司名称（可选）</p>
                <input style="height: 24px;width: 200px;border-width: 2px;font-size: 16px;" type="text" name="company_name" placeholder="请输入">
            </div>
            <div class="condition_sub_block">
                <div class="block_title" style="margin-bottom: 5px;">
                    <p class="title_text">公司信用</p>
                    <img class="arrow" id="arrow1" onclick="subBlockShow(this.id)"
                         src="{% static '../static/image/List.png' %}">
                </div>
                <div id="sub_block1" style="display: block; width: 75%;">
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">产品抽查通过率%:</p>
                        <input type="number" name="passpercent" placeholder="请输入">
                        <p style="margin-left: 10px;color: #ffdd6f;">(示例:80%则输入80)</p>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">守合同重信用企业:</p>
                        <input type="radio" name="is_kcont" value="True">是&nbsp
                        <input type="radio" name="is_kcont" value="False">否
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">企业信用等级:</p>
                        <select name="credit_grade">
                            <option value=""></option>
                            <option value="N+">N+</option>
                            <option value="B-">B-</option>
                            <option value="A">A</option>
                            <option value="C">C</option>
                            <option value="N">N</option>
                            <option value="A-">A-</option>
                        </select>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">列入失信名单:</p>
                        <input type="radio" name="is_justice_credit" value="True">是&nbsp
                        <input type="radio" name="is_justice_credit" value="False">否
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">工商部失信企业:</p>
                        <input type="radio" name="is_justice_creditaic" value="True">是&nbsp
                        <input type="radio" name="is_justice_creditaic" value="False">否
                    </div>
                </div>
            </div>
            <div class="condition_sub_block">
                <div class="block_title" style="margin-top: 5px;margin-bottom: 5px;">
                    <p class="title_text">公司技术</p>
                    <img class="arrow" id="arrow2" onclick="subBlockShow(this.id)"
                         src="{% static '../static/image/List.png' %}">
                </div>
                <div id="sub_block2" style="display: none;width: 75%;">
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">商标数量:</p>
                        <input type="number" name="ibrand_num" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">软件著作权数量:</p>
                        <input type="number" name="icopy_num" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">专利数量:</p>
                        <input type="number" name="ipat_num" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">域名数量:</p>
                        <input type="number" name="idom_num" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">济南市省级市级企业技术中心名录:</p>
                        <select name="is_jnsn">
                            <option value=""></option>
                            <option value="level_province">省级</option>
                            <option value="level_city">市级</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="condition_sub_block">
                <div class="block_title" style="margin-top: 5px;margin-bottom: 5px;">
                    <p class="title_text">公司构成</p>
                    <img class="arrow" id="arrow3" onclick="subBlockShow(this.id)"
                         src="{% static '../static/image/List.png' %}">
                </div>
                <div id="sub_block3" style="display: none; width: 75%;">
                    <div style="display: flex;flex-direction: row;width: 100%;align-items: center;">
                        <p style="margin-right: 10px;font-weight: bold;">企业出资信息（单位：元）:</p>
                        <div style="display: flex;flex-direction: column;justify-content: center;">
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">非农民自然人出资:</p>
                                <input type="number" name="inv0" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">外籍自然人出资:</p>
                                <input type="number" name="inv1" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">外国（地区）企业出资:</p>
                                <input type="number" name="inv2" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">外国（地区）投资者出资:</p>
                                <input type="number" name="inv3" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">事业法人出资:</p>
                                <input type="number" name="inv4" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">华侨出资:</p>
                                <input type="number" name="inv5" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">外商投资企业出资:</p>
                                <input type="number" name="inv6" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">个人独资企业出资:</p>
                                <input type="number" name="inv7" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">其他投资者出资:</p>
                                <input type="number" name="inv8" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">合伙企业出资:</p>
                                <input type="number" name="inv9" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">自然人股东出资:</p>
                                <input type="number" name="inv10" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">农民自然人出资:</p>
                                <input type="number" name="inv11" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">机关法人出资:</p>
                                <input type="number" name="inv12" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">企业法人出资:</p>
                                <input type="number" name="inv13" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">社团法人出资:</p>
                                <input type="number" name="inv14" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">法人股东出资:</p>
                                <input type="number" name="inv15" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;align-items: center;">
                        <p style="margin-right: 15px;font-weight: bold;">单位参保信息:</p>
                        <div style="display: flex;flex-direction: column;justify-content: center;">
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-失业:</p>
                                <input type="radio" name="xzbz1" value="True">是&nbsp
                                <input type="radio" name="xzbz1" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-H:</p>
                                <input type="radio" name="xzbz2" value="True">是&nbsp
                                <input type="radio" name="xzbz2" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-工伤:</p>
                                <input type="radio" name="xzbz3" value="True">是&nbsp
                                <input type="radio" name="xzbz3" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-养老:</p>
                                <input type="radio" name="xzbz4" value="True">是&nbsp
                                <input type="radio" name="xzbz4" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-医疗:</p>
                                <input type="radio" name="xzbz5" value="True">是&nbsp
                                <input type="radio" name="xzbz5" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-生育:</p>
                                <input type="radio" name="xzbz6" value="True">是&nbsp
                                <input type="radio" name="xzbz6" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-I:</p>
                                <input type="radio" name="xzbz7" value="True">是&nbsp
                                <input type="radio" name="xzbz7" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-大额:</p>
                                <input type="radio" name="xzbz8" value="True">是&nbsp
                                <input type="radio" name="xzbz8" value="False">否
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;height: 40px;">
                                <p style="margin-right: 10px;">参保-职业年金:</p>
                                <input type="radio" name="xzbz9" value="True">是&nbsp
                                <input type="radio" name="xzbz9" value="False">否
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">注册资本:</p>
                        <input type="number" name="regcapcur" placeholder="请输入">
                        <p style="margin-right: 10px;margin-left: 10px;">币种:</p>
                        <select name="regcapcur_type">
                            <option value="money_rmb">人民币</option>
                            <option value="money_dollar">美元</option>
                            <option value="money_euro">欧元</option>
                        </select>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">年报对外投资:</p>
                        <input type="number" name="investnum" placeholder="请输入">
                        <p style="margin-right: 10px;margin-left: 10px;">币种:</p>
                        <select name="investnum_type">
                            <option value="money_rmb">人民币</option>
                            <option value="money_dollar">美元</option>
                            <option value="money_euro">欧元</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="condition_sub_block">
                <div class="block_title" style="margin-top: 5px;margin-bottom: 5px;">
                    <p class="title_text">公司规模</p>
                    <img class="arrow" id="arrow4" onclick="subBlockShow(this.id)"
                         src="{% static '../static/image/List.png' %}">
                </div>
                <div id="sub_block4" style="display: none; width: 75%;">
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">注册资本:</p>
                        <input type="text" name="regcap" placeholder="请输入">
                        <p style="margin-right: 10px;margin-left: 10px;">币种:</p>
                        <select name="regcap_type">
                            <option value="money_rmb">人民币</option>
                            <option value="money_dollar">美元</option>
                            <option value="money_euro">欧元</option>
                        </select>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">从业人数:</p>
                        <input type="number" name="empnum" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">成立日期:</p>
                        <input type="date" name="estdate">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">分支机构数:</p>
                        <input type="number" name="branchnum" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">网店个数:</p>
                        <input type="number" name="shopnum" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">招聘记录条数:</p>
                        <input type="number" name="qcwynum" placeholder="请输入">
                    </div>
                </div>
            </div>
            <div class="condition_sub_block">
                <div class="block_title" style="margin-top: 5px;margin-bottom: 5px;">
                    <p class="title_text">公司实力</p>
                    <img class="arrow" id="arrow5" onclick="subBlockShow(this.id)"
                         src="{% static '../static/image/List.png' %}">
                </div>
                <div id="sub_block5" style="display: none; width: 75%;">
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">中标次数:</p>
                        <input type="number" name="bidnum" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">招聘记录条数:</p>
                        <input type="number" name="qcwynum" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">是否为驰名商标:</p>
                        <input type="radio" name="is_infoa" value="True">是
                        <input type="radio" name="is_infoa" value="False">否
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">是否为著名商标:</p>
                        <input type="radio" name="is_infob" value="True">是
                        <input type="radio" name="is_infob" value="False">否
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">产品抽查通过率%:</p>
                        <input type="number" name="passpercent" placeholder="请输入">
                        <p style="margin-left: 10px;color: blanchedalmond;">(示例:80%则输入80)</p>
                    </div>
                </div>
            </div>
            <div class="condition_sub_block">
                <div class="block_title" style="margin-top: 5px;margin-bottom: 5px;">
                    <p class="title_text">公司稳定</p>
                    <img class="arrow" id="arrow6" onclick="subBlockShow(this.id)"
                         src="{% static '../static/image/List.png' %}">
                </div>
                <div id="sub_block6" style="display: none; width: 75%;">
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">变更次数:</p>
                        <input type="number" name="alttime" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">司法风险-开庭公告数据(被告次数):</p>
                        <input type="number" name="defendant_num" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">经营风险-经营异常:</p>
                        <input type="radio" name="is_bra" value="True">是
                        <input type="radio" name="is_bra" value="False">否
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">经营风险-行政处罚(次数):</p>
                        <input type="number" name="is_brap" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">经营风险-股权出质(次数):</p>
                        <input type="number" name="pledgenum" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">经营风险-欠税额:</p>
                        <input type="number" name="taxunpaidnum" placeholder="请输入">
                        <p style="margin-right: 10px;margin-left: 10px;">币种:</p>
                        <select name="money_type_taxes">
                            <option value="money_taxes_rmb">人民币</option>
                            <option value="money_taxes_dollar">美元</option>
                            <option value="money_taxes_euro">欧元</option>
                        </select>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;height: 30px;align-items: center;">
                        <p style="margin-right: 10px;">异常名单(异常次数):</p>
                        <input type="number" name="is_except" placeholder="请输入">
                    </div>
                    <div style="display: flex;flex-direction: row;width: 100%;align-items: center;">
                        <p style="margin-right: 10px;font-weight: bold;">五险一金欠税额（单位：元）:</p>
                        <div style="display: flex;flex-direction: column;justify-content: center;">
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">城镇职工基本养老保险累计欠缴金额:</p>
                                <input type="number" name="unpaidsocialins_s0110" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">失业保险累计欠缴金额:</p>
                                <input type="number" name="unpaidsocialins_s0210" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">职工基本医疗保险累计欠缴金额:</p>
                                <input type="number" name="unpaidsocialins_s0310" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">工伤保险累计欠缴金额:</p>
                                <input type="number" name="unpaidsocialins_s0410" placeholder="请输入">
                            </div>
                            <div style="display: flex;flex-direction: row;align-items: center;">
                                <p style="margin: 5px;">生育保险累计欠缴金额:</p>
                                <input type="number" name="unpaidsocialins_s0510" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="input_submit2" value="提交">
        </form>
    </div>
    <h4 class="statement" style="font-size: 18px; text-align:center;margin-top: 30px;">Designed by Creeper
        in NWPU</h4>

</div>

</body>
<script language="JavaScript">
    function subBlockShow(id) {
        let id_str = id.charAt(id.length - 1);
        let sub_block = document.getElementById("sub_block" + id_str);
        let status = sub_block.style.display;
        if (status === "block") {
            sub_block.style.display = "none";
        } else if (status === "none")
            sub_block.style.display = "block";
        else {
            sub_block.style.display = "block";
        }
    }
</script>
</html>