<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签分类结果图</title>
    <link rel="stylesheet" href="{% static '../static/css/show.css' %}">
</head>

<body>

<div class="block">

    <div class="company_compo">
        <div class="label_fixed">{{ label0 }}</div>
        <div class="label_compo1">该构成占比较多的企业(机构)类型有:<br>{{ label_compo1 }}</div>
        <div class="label_compo2">该构成占比较多的企业状态有:<br>{{ label_compo2 }}</div>
        <div class="label_compo3">该构成占比较多的企业类别有:<br>{{ label_compo3 }}</div>
        <div class="label_compo4">该构成占比较多的行业门类有:<br>{{ label_compo4 }}</div>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
        <div class="line5"></div>
    </div>
    <div class="company">
        <div class="company_name">{{ company_name }}</div>
        <div class="label1">信用度：{{ label1 }}</div>
        <div class="label2">技术水平：{{ label2 }}</div>
        <div class="label3">公司规模：{{ label3 }}</div>
        <div class="label4">公司实力：{{ label4 }}</div>
        <div class="label5">公司稳定性：{{ label5 }}</div>
        <div class="m_line1"></div>
        <div class="m_line2"></div>
        <div class="m_line3"></div>
        <div class="m_line4"></div>
        <div class="m_line5"></div>
    </div>
</div>

</body>
</html>
